# Dependencies
node_modules/
.pnpm-store/

# Production Build
dist/
build/

# Environment Variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# TypeScript
*.tsbuildinfo
.tsbuildinfo

# OS & IDE Files
.DS_Store
Thumbs.db
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
*.sublime-workspace
*.swp
*.swo

# Coverage / Testing
coverage/
.nyc_output/
